body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #313A46;
	background-color: #ffffff;
	/*scrollbar-base-color: #EDF0F7;*/
    overflow-x: hidden;	
}

style1 {
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}


titulo_sistema {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #313A46;
}
/*
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #666666;
}
*/
/*select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:;
	color: #313A46;
	background-color: #ffffff;
	border: 1px solid #666666;
}*/
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:;
	color: #313A46;
	background-color: #ffffff;
	/*border: 1px solid #666666;*/
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: ;
	color: #313A46;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: ;
	/*color: #313A46;*/
	color: #0000CC;
	text-decoration: none;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: ;
	color: #313A46;
	text-decoration: none;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: ;
	color: #313A46;
	text-decoration: none;
}
.online {
	background-color: #8A9F93;
}
.offline {
	background-color: #C1686A;
}
.box {
	border: 1px solid #000000;
}
.top{
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #313A46;
	background-color: #75A3C8;
	/*border-bottom: 1px solid #000000;*/
}